### Name : Rajesh kannan M

### Roll No.: 215229130

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [31]:
df = pd.read_csv("train.csv")

In [32]:
df.head(20)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0

In [4]:
df1 = pd.read_csv("test.csv")

In [5]:
df1

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

##### Data Cleaning

##### Changing the text data into lowercase

In [6]:
df["text"] = df["text"].apply(lambda x: x.lower())
df1["text"] = df1["text"].apply(lambda x: x.lower())

##### Removing the special character in the text

In [7]:
df['text']= df['text'].str.replace('rt ',"").str.replace('@','').str.replace('#','').str.replace('[^\w\s]','').str.replace('[1-9]','')
df1['text']= df1['text'].str.replace('rt ',"").str.replace('@','').str.replace('#','').str.replace('[^\w\s]','').str.replace('[1-9]','')

##### Removing the URL link in the text

In [8]:
import re

In [9]:
def remove_URL(text):
    return re.sub(r"https?://\S+|www\.\S+", "", text)
df["text"] = df["text"].apply(lambda x: remove_URL(x))
df1["text"] = df1["text"].apply(lambda x: remove_URL(x))

##### Removing HTML tags in the text

In [10]:
def remove_html(text):
 html = re.compile(r"<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});")
 return re.sub(html, "", text)
df["text"] = df["text"].apply(lambda x: remove_html(x))
df1["text"] = df1["text"].apply(lambda x: remove_html(x))

##### Removing the punctuation in the text

In [11]:
import string

In [12]:
def remove_punct(text):
    return text.translate(str.maketrans('', '', string.punctuation))
df["text"] = df["text"].apply(lambda x: remove_punct(x))
df1["text"] = df1["text"].apply(lambda x: remove_punct(x))

##### After Cleaning the data

In [13]:
df[['text']].head(20)

                                                 text
0   our deeds are the reason of this earthquake ma...
1               forest fire near la ronge sask canada
2   all residents asked to shelter in place are be...
3   000 people receive wildfires evacuation orders...
4   just got sent this photo from ruby alaska as s...
5   rockyfire update  california hwy 0 closed in b...
6   flood disaster heavy rain causes flash floodin...
7   im on top of the hill and i can see a fire in ...
8   theres an emergency evacuation happening now i...
9    im afraid that the tornado is coming to our area
10        three people died from the heat wave so far
11  haha south tampa is getting flooded hah wait a...
12  raining flooding florida tampabay tampa  or  d...
13              flood in bago myanmar we arrived bago
14  damage to school bus on 0 in multi car crash b...
15                                       whats up man
16                                      i love fruits
17                                   summer is lovely
18                                  my car is so fast
19                             what a goooooooaaaaaal

##### Data Pre-Processing
Dropping of unnecessary columns

In [14]:
df = df.drop('keyword', axis=1)
df1 = df1.drop('keyword', axis=1)

In [15]:
df = df.drop('location', axis=1)
df1 = df1.drop('location', axis=1)

##### Tokenization

In [16]:
import nltk
from nltk import TweetTokenizer
tokenizer = TweetTokenizer()

df['tokens'] = [tokenizer.tokenize(item) for item in df.text]
df1['tokens'] = [tokenizer.tokenize(item) for item in df1.text]

##### Vectorization

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df.text).toarray()
y = df['target']

In [18]:
df[['text']]

                                                   text
0     our deeds are the reason of this earthquake ma...
1                 forest fire near la ronge sask canada
2     all residents asked to shelter in place are be...
3     000 people receive wildfires evacuation orders...
4     just got sent this photo from ruby alaska as s...
...                                                 ...
7608  two giant cranes holding a bridge collapse int...
7609  ariaahrary thetawniest the out of control wild...
7610    m 00 utckm s of volcano hawaii httptcozdtoydebj
7611  police investigating after an ebike collided w...
7612  the latest more homes razed by northern califo...

[7613 rows x 1 columns]

##### Spliting the data for training a model

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

##### Creating a Model

In [20]:
from sklearn.naive_bayes import MultinomialNB

In [21]:
mb = MultinomialNB()
mb.fit(X_train,y_train)

MultinomialNB()

In [22]:
y_pred = mb.predict(X_test)

##### Printing the accuracy,confusion matrix and classification

##### Accuracy

In [24]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [25]:
acc = accuracy_score(y_test,y_pred)
print("The accuracy of the model is :",acc)

The accuracy of the model is : 0.8073555166374781

##### Confusion matrix

In [26]:
cf = confusion_matrix(y_test,y_pred)

In [27]:
cf

array([[1172,  166],
       [ 274,  672]], dtype=int64)

##### Classification Report

In [28]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.88      0.84      1338
           1       0.80      0.71      0.75       946

    accuracy                           0.81      2284
   macro avg       0.81      0.79      0.80      2284
weighted avg       0.81      0.81      0.81      2284